$primary-color:#6f6f6f;
$secondary-color:#FFDAC6;
$tertiary-color:rgb(158 230 218);
$primary-text-color: #ffffff;
$secondary-text-color: #d11004;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.5em;

@mixin flexCenter($direction,$content,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {  /* Asi se crea un mixin */
    button {
        background: none;
        border-style: none;
    }

}
body {
    background-image: linear-gradient(to right top, #090307, #2a282a, #4b494c, #6e6d71, #949498, #939598, #939598, #939698, #6d7071, #4a4c4d, #292b2b, #080909);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row, space-between,center); /* Llamamos el mixin */
    padding: 15px;
    img {
        margin-top: 30px;
        padding-left: 30px;
        height: 150px;
        width: 340px;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;  /* Esta es la forma de utilizar el mixin*/
        margin-right: 50px;
    }
}

article {
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 70px;
    @include flexCenter(row, space-between,center);
    .impact-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }
    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
        color: $secondary-text-color;
    }
    p {
        font-size: $paragraph-size;
    }
    button {
        color: $primary-text-color;
        width: 12vw;
        padding: 20px;
        background: none;
        border-color: $secondary-text-color;
        font-size: 1em;
    }
    img {
        margin-top: 70px;
        width: 450px;
        height: 300px;
        border-radius: 19px;
        }
    }

section {
    width: auto;
    height: auto;
    padding: 60px;
    h2 {
        color: $secondary-text-color;
        font-size: 2em;
    }
    .characters {
        padding-bottom: 60px;
        h2 {
            font-weight: bold;
            padding-bottom: 60px;
        }
        .card-section {
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;
            .character-card {
                width: 14vw;
                height: auto;
                padding: 20px;
                border-radius: 8px;
                display: block;
                justify-content: center;
                align-items: center;
               .levi {
                    margin-top: 52px;
               }
                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    img {
                        width: 33px;
                        height: 33px;
                        transition: all 300ms;
                    }
                    img:hover {
                        transform: scale(1.70);
                    }
                }
                .icon-levi {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 15px;
                    img {
                        width: 33px;
                        height: 33px;
                        transition: all 300ms;
                    }
                    img:hover {
                        transform: scale(1.70);
                    }
                }
                    .img-chart {
                        width: 120px;
                        height: auto;
                        margin-left: 30px;
                        transition: all 300ms;
                    }
                    .img-chart:hover {
                        transform: scale(1.18);
                    }
                }
                h3 {
                    color: $secondary-text-color;
                }
                p {
                    color: $primary-text-color;
                }
            }
        }

.titans {
    @extend .characters;
    .card-section {
    column-gap: 130px;
    .character-image {
        .img-chart {
            height: 200px;
            width: auto;
            border-radius: 3px;
        }
    }
    }
    .icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        img {
            width: 28px;
            height: 28px;
        }
    }
}
}

.about-us {
    padding-bottom: 60px;
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }
    .band-section {
        @include flexCenter(row, space-evenly,center);
        .paradis {
            width: 40vw;
            display: flex;
            gap: 40px;
            color: $primary-text-color;
            img {
                height: 230px;
                width: 230px;
                object-fit: cover;
                border-radius: 8px;
                box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
                transition: all 300ms;
                }
                img:hover {
                    transform: scale(1.10);
                }
            p {
                font-size: 1.1em;
                text-align: justify
            }
        }
    }
    .marley {
        @extend .paradis;
    }
}

.army {
    h2 {
        padding-bottom: 60px;
    }
    .army-section {
        @include flexCenter(row, space-between,center);
        img {
            width: 20vw;
            height: 40vh;
            transition: all 300ms;
            &:hover {
                transform: scale(1.1);
            }
        }
        .trop-section {
            h3 {
                color: $primary-text-color;
                margin-left: 40px;
            }
            .title {
                margin-left: 70px;
            }
        }
    }
}

.location {
    h2 { 
        padding-bottom: 50px;
        padding-top: 60px;
    }
    .map {
        @include flexCenter(row, center,center);
        padding-bottom: 50px;
        img {
            height: 600px;
            width: auto;
            object-fit: contain;
        }
    }
    h3 {
        margin-left: 320px;
        color: $primary-text-color;
    }
}

footer {
    height: auto;
    color: $secondary-text-color;
    padding: 40px;
    h3 {
        font-size: 2em;
    }
    a {
        text-decoration: none;
        color: $primary-text-color;
        font-size: 1.5em;
    }
    a:hover {
        color: $secondary-text-color;
    }
    .social-media {
        @include flexCenter(row,center,center);
        gap: 40px;
        padding-bottom: 30px;
        a img:hover {
            color: #6f6f6f;
        }
    }
}

